<h1>Biography</h1>
<p>
Brian LeRoux is the cofounder and CTO of the continuous delivery platform <a href=https://begin.com>Begin.com</a> and core maintainer of the open source project <a href=https://arc.codes>arc.codes</a> which demystifies AWS serverless technology. Between these tools apps can be built with a lead time to production reduced to mere seconds.
</p> 
<p>
Previously they worked on Adobe PhoneGap helping create Apache Cordova. These projects helped millions of developers ship hundreds of thousands webviews into the Apple App Store and Google Play silos. As a longtime advocate for the web they created <a href=https://wtfjs.com>wtfjs</a> and have a irreverent <code>&amp;nbsp;</code> tattoo. Brian believes the future is an open web stewarded by hackers like you.</p>

<h2>Personal addendum</h2>
<p>Writing in the third person freaks me out. I am a programmer, a hacker (the good kind), an author, sometimes teacher, and speaker. I work largely on open source from Vancouver, Canada for Begin in San Francisco. This website, its content and opinions are my own. I write about futurism, climate, equality, inclusion, code, diversity, open souce, and the open web. Otherwise you're likely to find me riding my bike, hiking in the forest, crawling around a mountain, floating a river, camping on a lake or tending fire oceanside.</p>

<h2>About this website</h2>
<p>
This website is a work-in-progress attempt to implement, adopt and, adhere to the indieweb guiding principles. I've been actively creating content for media companies that sell advertising for a long enough time. These silos have created likewise silos of thought, polarizing reality dramas, all unfolding like a grimdark novel with the backdrop of an ever-escalating climate disaster. If the modern social media landscape is grimdark then the indieweb is the hopepunk. <a href=https://indieweb.org/principles>The IndieWeb principles:</a>
  
<ul>
  <li>✊ Own your data
  <li>🔍 Use & publish visible data
  <li>💪 Make what you need
  <li>😋 Use what you make!
  <li>📓 Document your stuff
  <li>💞 Open source your stuff!
  <li>📐 UX and design is most important
  <li>🌐 Modularity. Build platform agnostic platforms 
  <li>🗿 Longevity. Build for the long web
  <li>✨ Plurality. Embrace a diversity of approaches &amp; implementations
  <li>🎉 Have fun
</ul>  
</p>
<p>
  That is what I'm here for. 
</p>
<hr>

<h3>IndieMark Status</h3>
<p>
Not going for full marks but do aim to implement both WebMention and IndieAuth.
  <blockquote>
    IndieMark is a set of metrics for measuring the indieweb-ness of a site, and a step-by-step approach to incrementally adopting indieweb features on your site. - <a href=https://indieweb.org/IndieMark>IndieMark</a>
  </blockquote>
</p> 
<p>
  <ul>
    <li>
      <input type=checkbox checked> Level 1
      <ul>
        <li><input type=checkbox checked>0.2 pts identity</li>
        <li><input type=checkbox checked>0.2 pts authentication - <small>(todo: IndieAuth)</small> </li>
        <li><input type=checkbox checked>0.4 pts posts</li>
        <li><input type=checkbox checked>0.2 pts search</li>
      </ul>
    </li>
    <li>
      <input type=checkbox> Level 2
      <ul>
        <li><input type=checkbox checked> 0.1 points identity - h-card contact info and icon</li>
        <li><input type=checkbox checked>0.2 points posts - multiple post types (article, note, photo)</li>
        <li><input type=checkbox>0.2 points syndication - 'posse' to twtr and medium</li>
        <li><input type=checkbox>0.1 points for minimal POSSE posting UI</li>
        <li><input type=checkbox>0.1 points navigation - linear previous/next between posts</li>
        <li><input type=checkbox>0.1 points search - provide time ordered results </li>
        <li><input type=checkbox>0.1 points aggregation / syndication</li>
        <li><input type=checkbox>0.1 points web actions</li>
      </ul>
    </li>
    <li>
      <input type=checkbox> Level 3
      <ul>
        <li><input type=checkbox><a href=https://indieweb.org/Webmention>WebMention</a></li>
      </ul>
    </li>
  </ul>
</p>
